<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moas.backend.mapper.AnalysisRecordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.moas.backend.dataobject.AnalysisRecords">
        <id column="id" property="id" />
        <result column="record_id" property="recordId" />
        <result column="record_name" property="recordName" />
        <result column="record_path" property="recordPath" />
        <result column="analysis_type" property="analysisType" />
        <result column="analysis_status" property="analysisStatus" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="end_reason" property="endReason" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        record_id, id, record_name, record_path, analysis_type, analysis_status, start_time, end_time, end_reason
    </sql>

</mapper>
